* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a9a29e;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

main {
    align-items: center;
}
img{
    width: 400px;
    
}

header {
    display: flex;
    align-items: center;
    padding: 5px;

    justify-content: center;
    background-color: white;
}
.container-title {
    padding: 30px;
    background-color: #c5571c;
    margin-bottom: 50px;
    color: #2E4053;
    font-size: 30px;
}
.Layout {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
}
.container-img {
 
}